<h2>Editar</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),:html => { :multipart => true }) do |f| %>
 <% if @user.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

<div class="control-group">
    <%= f.label :login, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :login, :class => 'form-control' %>
    </div>
    <%= error_span(@user[:login]) %>
  </div>
  <div class="control-group">
    <%= f.label :nome, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nome, :class => 'form-control' %>
    </div>
    <%= error_span(@user[:nome]) %>
  </div>

<div class="control-group">
    <%= f.label :cidade, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cidade, :class => 'form-control' %>
    </div>
    <%= error_span(@user[:cidade]) %>
  </div>
  <div class="control-group">
    <%= f.label :estado, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :estado, :class => 'form-control' %>
    </div>
    <%= error_span(@user[:estado]) %>
  </div>
<br/>
<%= image_tag current_user.avatar.url(:thumb) %>
<%= f.file_field :avatar %>
<br/>
 <div class="control-group">
    <%= f.label :sobre_voce, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sobre_voce, :class => 'form-control' %>
    </div>
    <%= error_span(@user[:sobre_voce]) %>
  </div>  

  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%= error_span(@user[:email]) %>
  </div>
<div class="control-group">
  <%= f.label :password, :class => 'control-label' %>
     <div class="controls">
    <%= f.password_field :password, autocomplete: "off",:class => 'form-control' %>
</div>
   <%= error_span(@user[:password]) %>
</div>

<div class="control-group">
  <%= f.label :password_confirmation, :class => 'control-label' %>
     <div class="controls">
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
</div>
<%= error_span(@user[:password_confirmation]) %>
</div>
<div class="control-group">
  <%= f.label :current_password, :class => 'contro-label' %> <i>(we need your current password to confirm your changes)</i>
<div class="controls">
    <%= f.password_field :current_password, autocomplete: "off", :class => 'form-control' %>
</div>
<%= error_span(@user[:current_password]) %>
</div>
<br/>
<div class="form-actions">
  <%= f.submit "Enviar",class: 'btn btn-primary' %>
  <%= link_to "Voltar", :back, class: 'btn btn-primary'  %>
</div>
<br/>
<% end %>
<%= button_to "Excluir Conta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-primary' %>
<br/>
