
<% provide(:title, "Log in") %>
<div class = campo>
<div class="row">

  <div class="col-md-6 col-md-offset-3">
<h1>Log in</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.label :login %>
      <%= f.text_field :login, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
</br>
      <%= f.submit "Logar", class: "btn btn-primary" %>
    <% end %>

    </br>
  </div>
</div>
</div>
